*.pyc
*.egg-info
*.pt
*.pth
*.zip
*.tar.gz
*.render*
*.ply
*.png
*.so

**/__pycache__/
**/build/

.vscode
ckpts

/checkpoints
/data
/logs
/outputs
/utils/debug.py
/configs/data/full.yaml
*_check/
/utils/utils_ceph.py
/pair_data
/test_dataset_output

resize_demo_imgs.py
img_dir_to_video.py